**
!pyproject.toml
!requirements.lock
!README.md
!LICENSE
!THIRD_PARTY.md
!src/
!src/mcdxkit/
!src/mcdxkit/*.py
!src/mcdxkit/review/
!src/mcdxkit/review/*.py
!src/mcdxkit/review/*/
!src/mcdxkit/review/*/*.py
!src/mcdxkit/web/
!src/mcdxkit/web/*.html
!src/mcdxkit/web/*.css
!src/mcdxkit/web/*.js
!src/mcdxkit/web/fonts/
!src/mcdxkit/web/fonts/*.ttf
!src/mcdxkit/web/fonts/OFL.txt

!src/mcdxkit/calcpad_bridge/
!src/mcdxkit/calcpad_bridge/*.cs
!src/mcdxkit/calcpad_bridge/*.csproj
